<h1>Getting Started</h1>

<i>Ember Modal</i> is an Ember CLI module and can be simply installed by:

<ol>
    <li>
        <pre><code class="bash">npm install --save-dev ember-idx-modal</code></pre>
    </li>
</ol>

<p>Want to see some code? check out the {{#link-to 'simple'}}Simple{{/link-to}} page</p>